$green: #078b45;
$dark: #292627;
$gray: #ebebeb;
$lgreen: #39b24a;

//Facultades
$ingenieria: #0078ac;
$humanidades: #93bb4e;
$educacion: #f0ae3e;
$sociales: #b73624;
$design: #ff7364;
$global: #215294;
$cuae: #4e315a;