.directorio-container{
    margin: 0 auto;
    max-width: 1080px;
    @media (max-width: 1085px){
        margin: 0 55px;
    }
    // search
    .search{
        width: 100%;
        padding: 0 50px 50px;
        @media (max-width:575px){
            padding: 0 0 20px;
        }
        input{
            float: left;
            width: calc(100% - 120px); 
            height: 35px;
            background: $gray;
            border: none;
            border-radius: 5px;
            color: black;
            padding: 0 10px;
            font-size: 14px;
            @media (max-width:575px){
                width: 100%;
                margin-bottom: 10px;
            }
        }
        button{
            float: left;
            height: 35px;
            border: none;
            background: $green;
            color: white;
            font-size: 16px;
            padding: 0 15px;
            margin-left: 10px;
            text-transform: uppercase;
            font-family: Solido-Bold;
            @media (max-width:575px){
                width: 100%;
                margin: 0;
            }
        }
    }
    // search

    // Filter
    .filters-container{
        display: flex;
        flex-wrap: wrap;
        float: left;
        width: 100%;
        .filters{
            width: 50%;
            padding: 30px;
            float: left;
            background: $gray;
            @media (max-width: 575px){
                width: 100%;
                &:nth-of-type(1){
                    padding-bottom: 0;
                }
            }
            li{
                width: 100%;
                float: left;
                a{
                    text-transform: uppercase;
                    font-family: Solido-Bold;
                    color: black;
                    font-size: 14px;
                    &:hover,
                    &.active{
                        color: $green;
                    }
                }
            }
        }
    }
    // Filter

    // Subtitle
    .subtitle {
        width: 100%;
        margin: 25px 0;
        font-size: 18px;
        color: black;
        font-family: Solido-Bold;
        text-transform: uppercase;
    }
    // Subtitle

    // Entries
    .entries{
        width: calc(100% + 10px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .element{
            width: calc(33.33% - 10px);
            @media (max-width:767px){
                width: calc(50% - 10px);
            }
            @media (max-width:575px){
                width: 100%;
            }
            &.fullwidth{
                width: 100%;
                font-family: BebasNeue;
                font-size: 28px;
                margin: 50px 0 25px;
            }
            h2{
                float: left;
                width: 100%;
                background: $green;
                color: white;
                padding: 10px;
                font-size: 18px;
                font-family: Solido-Bold;
            }
            .text{
                float: left;
                width: 100%;
                background: $gray;
                padding: 15px 10px;
                margin-bottom: 15px;
                font-size: 14px;
                color: #404041;
                strong{
                    font-family: Solido-Bold;
                    font-size: 16px;
                    font-weight: normal;
                }
                a[href^="mailto:"]{
                    float: left;
                    width: 100%;
                    color: #404041;
                    margin-top: 5px;
                }
            }
        }
    }
    // Entries
}