#footer-widgets .footer-widget .fwidget{
    @media (max-width: 767px){
        margin-bottom: 0 !important;
    }
}
#media_image-2{
    float: left;
    width: 100px;
    margin-bottom: 0 !important;
}
#text-2{
    float: left;
    width: calc(100% - 95px);
    font-size: 16px;
    line-height: normal;
    font-family: BebasNeue;
    padding-top: 10px;
    @media (max-width: 767px){
        width: calc(100% - 100px);
        padding-left: 25px;
    }
}
#text-10{
    ._form_383{
        div{
            text-align: left !important;
            form{
                margin: 0 !important;
                padding: 0 !important;
                label{
                    color: $green !important;
                    font-family: BebasNeue;
                    font-size: 19px !important;
                    font-weight: normal !important;
                }
                ._field-wrapper{
                    float: left;
                }
                ._button-wrapper._inline-style{
                    margin-left: 0 !important;
                    margin-right: 0 !important;
                    margin-top: 35px !important;
                    @media (max-width: 667px){
                        float: left;
                        margin-top: 0 !important;
                        margin-bottom: 15px !important;
                        top: -20px !important;
                    }
                    @media (max-width:767px){
                        top: 0;
                        float: left;
                        width: 45px !important;
                    }
                    #_form_383_submit{
                        background: $green !important;
                        border-radius: 0px 5px 5px 0px !important;
                        height: 38px;
                        font-size: 14px !important;
                    }
                }
                input{
                    border-radius:5px 0 0 5px !important;
                    @media (max-width:767px){
                        font-size: 14px !important;
                        padding: 9px 12px !important;
                    }
                }
            }
        }
    }
}
#footer-bottom{
    display: none;
}
#text-10{
    padding-left: 25px;
    border-left: 2px solid white;
    @media (max-width: 767px){
        border-left: none;
        border-left: 0;
        padding-left: 0;
        width: 100%;
    }
    .instrucciones{
        margin-bottom: 10px;
        text-transform: none;
        margin-top: -15px;
        font-size: 12px;
        font-family: Solido-Book;
        line-height: normal;
        @media (max-width: 767px){
            margin-top: -5px;
        }
    }
    .copy{
        font-size: 16px;
        font-family: BebasNeue;
        line-height: normal;
    }
}