.green-title-boxes {
    h2{
        background: $green;
        color: #ffffff;
        margin: 0;
        padding: 5px 15px;
        font-family: Solido-Bold;
        font-size: 17px;
        line-height: 25px;
    }
    p{
        background: #dde0e1;
        color: black;
        margin: 0;
        padding: 15px;
        font-size: 17px;
        line-height: 29px;
        width: 100%;
    }
}