@mixin color($color) {
    color: $color !important;
    & > a{
        color: $color !important;
        &:hover{
            padding: 0px !important;
            background: transparent !important;
        }
    }
  }
  

//Quick menus that slide from the top
.quick-menus{
    width: 100%;
    background: $dark;
    position: relative;
    .menu_close{
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        font-size: 16px;
        display: none;
        cursor: pointer;
    }
    &.active{
        .menu_close{
            display: block;
        }
    }
    .qmenu .menu{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        height: 0;
        transition: all 0.5s;
        width: 100%;
        &.active{
            padding: 30px;
            height: auto;
        }
        & > li{
            width: 100%;
            line-height: normal;
            @media (max-width: 749px){
                width: 50% !important;
            }
            a{
                color: white;
                width: 25%;
                font-size:16px;
                @media (max-width: 749px){
                    font-size:12px;
                }
                &:hover{
                    color: $green;
                }
            }
            ul{
                margin-left: 15px;
                li{
                    width: 100%;
                }
            }
        }
    }
} 

.et_menu_container{
    height: 95px;
}
.logo_container{
    @media (max-width:749px){
        position: relative !important;
        text-align: center;
    }
}
//Buttons on the top bar menu
#header-buttons{
    float:right;
    width: calc(100% - 300px);
    position: relative;
    @media (max-width:749px){
        width: 100%;
        #buttons{
            width: 100% !important;
            .search{
                margin-top: 0 !important;
                float:left !important;
                margin-left: 6px;
                max-width: 96% !important;
            }
        }
    }
    #q-buttons{
        float: right;
        width: 505px;
        display: block;
        @media (max-width:749px){
            float: left; 
            width: 97%;
            display: flex;
            justify-content: space-around;
        }
        a{
            float: left;
            margin-left: 30px;
            color: white;
            font-size: 14px;
            padding: 10px 0;
            font-family: Solido-Bold;
            &:hover,
            &.active{
                color: $green;
            }
            @media (max-width:749px){
                margin-left:10px;
                margin-right:10px;
            }
            @media (max-width:462px){
                font-size: 12px;
            }
            @media (max-width:411px){
                margin-right: 0;
            }
            @media (max-width:361px){
                margin-left: 5px;
                font-size: 11px;
            }
        }
    }
    #buttons{
        float: right;
        clear: both;
        margin: 2px 0 15px;
        // margin: 45px 0 15px;
        width: 525px;
        // display: none;
        .search {
            float: right;
            width: 100%;
            max-width: 220px;
            @media (max-width:749px){
                margin-top: 40px;
            }
            .gsc-control-cse{
                padding: 0;
                border: 0;
            }
            input[type="search"], .searchbox {
                background: transparent;
                border-top: 0 !important;
                border-right: 0 !important;
                border-bottom: 0 !important;
                border-left: 0 !important;
                color: #fff;
                width: calc(100% - 20px);
                padding: 0 5px 10px;
                box-sizing: border-box;
                float: left;
            }
            input.button-search {
                border-radius: 0!important;
                text-indent: -2222px;
                width: 20px;
                height: 24px;
                box-sizing: border-box;
                background: url(../images/icons/icon-search.png) no-repeat transparent top center;
                background-size: 100%;
                border-top: none;
                border-right: none;
                border-left: none;
                float: left;
            }
            input::placeholder{
                color: #fff!important;
                font-size:9pt!important;
            }
        }
        .header-buttons-container{
            @media (max-width: 749px){
                float: left;
                width: 100%;
                text-align: center;
                margin-top: 10px;
            }
        }
        .actualidad-uvg, 
        .educacion-continua {
            float: right;
            margin-right: 15px;
            color: #fff;
            width: 50px;
            margin-top: 6px;
            @media (max-width: 749px){
                float: none;
                display: inline-block;
            }
        }
        .actualidad-uvg{
            width: 100px;
            margin-top: 6px;
        } 
    }
}
header.et-fixed-header{
    @media (max-width: 749px){
        #header-buttons{
            display: none;
        }
    }
}
.gssb_c{
    width: 220px !important;
    overflow: hidden;
    display: inline-block !important;
    z-index: 99999999 !important;
}

.main-menu{
    background: $green;
    width: 100%;
    float: left;
    position: relative;
    display: none;
    @media (min-width:1000px){
        display: block;
    }
    #menu-principal{
        float: left;
        margin: 0;
        padding: 0 0 0 30px;
        list-style: none;
        & > li{
            float: left;
            &.active{
                a{
                    color: #000;
                }
            }
            a{
                float: left;
                width: 100%;
                font-family: Solido-Bold;
                color: white;
                padding: 13px 20px 10px 0;
                font-size: 15px;
                @media (min-width: 952px){
                    padding: 13px 40px 10px 0;
                    font-size: 17px;
                }
            }
            &:hover a{
                color: black;
            }
            &:hover > ul,
            &.et-show-dropdown > ul{ 
                max-height: 2000px;
                min-height: 300px;
            }
            ul{
                max-height: 0;
                transition: all 0.5s;
                overflow: hidden;
                position: absolute;
                width: 100%;
                left: 0;
                background: #f1f1f2;
                top: 46px;
                & > li{
                    float: left;
                    margin-left: 20px;
                    margin-top: 25px;
                    // max-width: 165px;
                    width: calc(20% - 20px);
                    &.image{
                        position: relative;
                        margin-bottom: 25px;
                        // max-width: 230px;
                        // width: 230px;
                        h3.centros-title{
                            letter-spacing: 2px;
                            font-size: 40px;
                            line-height: 40px;
                            color: $green;
                        }
                        .wp-caption{
                            display: inline-block;
                            width: 100%;
                            max-width: 100%;
                            padding: 0;
                            margin: 0;
                            border: 0;
                            a{
                                padding: 0 !important;
                                img{
                                    display: block;
                                }
                            }
                        }
                        .wp-caption-text{
                            color: white;
                            background: rgba(0, 0, 0, 0.8);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            font-family: Solido-Bold;
                            font-size: 15px;
                            text-align: center;
                            padding: 5px 0;
                        }
                    }
                    &.proxima{
                        position: relative;
                        // max-width: 230px;
                        // width: 230px;
                        img{
                            display: block;
                            width: 100%;
                        }
                        h3{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 50% !important;
                            font-size: 16px;
                        }
                        h4{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 50% !important;
                            font-size: 14px;
                            em{
                                font-size: 20px;
                                font-style: normal;
                                margin-bottom: 5px;
                                display: inline-block;
                            }
                        }
                    }
                    &.right{
                        float: right;
                        margin-bottom: 25px;
                        // width: 295px;
                        // max-width: 295px;                        
                        // @media (max-width: 1309px){
                        //     display: none;
                        // }
                    }
                    a{
                        color: black;
                        // padding: 7px 0px 7px 0;
                        padding: 0;
                        &:hover{
                            color: $green;
                        }
                    }
                    ul{
                        max-height: 500px;
                        position: relative;
                        top: 0;
                        left: 0;
                        width: auto;
                        float: left;
                        // margin-bottom: 25px;
                        &.telwhatsapp{
                            &>li{
                                &>a{
                                    &:hover{
                                        padding: 0px !important;
                                        color: $green !important;
                                    }
                                }
                            }
                        }
                        li{
                            float: left;
                            padding: 0;
                            width: 100%;
                            margin: 0px;
                            a{
                                float: left;
                                width: 100%;
                                font-size: 14px;
                                font-family: Solido-Book;
                                padding: 0;
                                &:hover{
                                    background: $green;
                                    color: white;
                                    padding: 4px;
                                    box-sizing: border-box;
                                }
                            }
                            &.current-menu-item{
                                a{
                                    background: $green;
                                    color: white !important;
                                    padding: 4px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .icons-header {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        margin-right: 25px;
        display: none;
        @media (min-width:1163px){
            display: block;
        }
        li {
            float: left;
            margin: 10px 5px;
            a{
                font-size: 24px;
                color: white;
                float: left;
                width: 21px;
                height: 24px;
                i{
                    display: inline-block;
                }
            }
        }
    }
}

//Mobile
.main-menu-mobile{
    background: $green;
    width: 100%;
    float: left;
    position: relative;
    display: block;
    @media (min-width:1000px){
        display: none;
    }
    .bread{
        float: left; 
        width: 100%;
        height: 46px;
        &:after{
            content: "Menú Principal";
            color: #fff;
            font-family: BebasNeue;
            font-size: 20px;
        }
        i{
            color: white;
            padding: 10px;
            font-size: 25px;
        }
    }
    ul{
        float: left;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s all;
        &.active{
            max-height: 1000px;
        }
        li{
            float: left;
            width: 100%;
            position: relative;
            &.menu-item-has-children{
                &:after{
                    content: "\f067"; 
                    font-family: FontAwesome;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: white;
                    font-size: 12px;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    line-height: 38px;
                    z-index: 999;
                }
                &.et-show-dropdown{
                    &:after{
                        content: "\f068";
                    }
                    & > a{
                        color: #3b3a3c;
                    }
                    & > ul{
                        max-height: 1000px;
                    }
                }
            }
            a{
                float: left;
                width: 100%;
                color: white;
                padding: 10px 10px;
                font-size: 12px;
                font-family: Solido-Bold;
                line-height: normal;
                border-top: 1px solid rgba(255,255,255,0.5);
            }
            ul{
                max-height: 0;
                overflow: hidden;
                transition: 0.5s all;
                li{
                    a{
                        padding-left: 15px;
                    }
                    ul{
                        max-height: 0;
                        overflow: hidden;
                        transition: 0.5s all;
                        &.active{
                            max-height: 1000px;
                        }
                        li{
                            a{
                                padding-left: 30px;
                            }
                            ul{
                                li{
                                    a{
                                        padding-left: 45px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.et_menu_container{
    max-height: 500px;
    transition: 1.5s all;
    @media (max-width: 749px){
        height: 70px;
    }
}
.et-fixed-header{
    // #header-buttons{
    //     #q-buttons{
    //         display: none;
    //     }
    //     #buttons{
    //         margin-top: 10px;
    //         margin-bottom: 0;
    //     }
    // }
    .logo_container{
        height: 45px;
        margin-top: 10px;
        padding-bottom: 5px;
        img{
            max-height: 100% !important;
        }
    }
    .et_menu_container{
        height: 55px;
    }
}

.et_pb_section{
    z-index: 1;
}
.et-fb{
    header{
        z-index: 2 !important;
    }
}
header{
    z-index: 999999 !important;
    .widgets{
        display: none;
    }
    .container{
        width: 98%;
    }
}

// Académico Menú
#menu-academico{
    display: none;
}
.video-academico{
    position: relative;
    margin-bottom: 25px;
    max-width: 230px;
    width: 230px;
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    h3.centros-title{
        letter-spacing: 2px;
        font-size: 40px;
        line-height: 40px;
        color: $green;
    }
    .wp-caption{
        display: inline-block;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        a{
            display: inline-block;
            padding: 0 !important;
            img{
                display: block;
            }
        }
    }
    .wp-caption-text{
        color: white;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-family: Solido-Bold;
        font-size: 15px !important;
        text-align: center;
        padding: 5px 0 !important;
    }
}
.academico-sub {
    width: 100%;
    float: left;
    background: #F1F1F2;
    .first-step{
        width: 100%;
        padding: 25px 0 25px 10px;
        float: left;
        .col1 {
            float: left;
            width: 20%;
            h2{
                font-size: 40px;
                letter-spacing: 2px;
                line-height: 40px;
                color: $green;
                padding-left: 15px;
                margin-bottom: 25px;
            }
            a{
                padding: 10px 0 !important;
                color: #078b45 !important;
                font-size: 17px !important;
                float: left !important;
                width: 100% !important;
                font-family: Solido-Bold !important;
                padding-left: 15px !important;
                i{
                    transition: all 0.5s;
                }
                &:hover{
                    i{
                        margin-left: 5px;
                    }
                }
                &.active{
                    color: white !important;
                    background: $green;
                }
            }
        }
        .col2{
            float: left;
            width: 60%;
            padding-left: 25px;
            border-left: 1px solid green;
            &.hide{
                display:none;
            }
            img{
                float: left;
                width: calc(50% - 25px);
            }
            .menu,
            .menu-programas-innovadores-container {
                float: left;
                width: 100%;
            }
            #menu-programas-innovadores{
                max-height: none;
                float: left;
                width: 100%;
                position: relative;
                top: 0;
                & > li{
                    width: calc(50% - 20px);
                }
                & > ul{
                    float: left;
                    width: 100%;
                    & > li{
                        float: left; 
                        width: 100%;
                        &:first-of-type{
                            & > a{
                                font-family: Solido-Bold;
                                font-size: 17px;
                                font-weight: 400;
                                color: #404041;
                                margin-bottom: 10px;
                                float: left;
                                width: 100%;
                            }
                        }
                        ul{
                            float: left;
                            width: 100%;
                            li{
                                a{
                                    float: left; 
                                    width: 100%;
                                    font-family: Solido-Book;
                                    font-size: 13px;
                                    color: #404041;
                                    line-height: normal;
                                    margin-bottom: 5px;
                                    &:hover{
                                        color: $green;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .col3{
            width: calc(20% - 18px);
            display: inline-block;
            margin-top: 0;
            margin-left: 18px;
            &.hide{
                display:none;
            }
        }
    }
}
// Académico Menú

.adminisiones-info{
    float:right;
    width: 100%;
    background: #DADADA;
    h3{
        font-size: 38px;
        padding: 10px 0 0px;
        text-align: center;
        &.directo{
            float: left;
            width: 50%;
            font-family: BebasNeue;
            letter-spacing: normal;
            font-size: 30px;
            text-align: right;
            padding: 0 10px 0 0;
            margin-bottom: 15px;
        }
    }
    .directo-num{
        float: left;
        width:50%;
        padding-top: 0 !important;
        a{
            font-size: 30px !important;
            color: #039445 !important;
            line-height: 29px !important;
            font-family: BebasNeue !important;
            padding: 0 !important;
        }
    }
    ul.telwhatsapp {
        padding: 0;
        list-style: none;
        margin: 10px 0 5px;
        width: 100% !important;
        background: 0 0 !important;
        position: relative !important;
        max-height: 100px !important;
        top: 0 !important;
        li {
            float: left !important;
            font-size: 18px;
            margin-left: 0px !important;
            font-weight: 700;
            margin-top: 0 !important;
            text-align: center;
            width: 100% !important;
            a,
            a.tel-whatsapp {
                color: #404041 !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                background: transparent !important;
                &.tel-whatsapp:hover{
                    color: #404041 !important;
                    padding: 0 !important;
                }
                i{
                    margin-right: 3px;
                }
            }
        }
    }
    .bloquegris{
        float: left;
        width: 100%;
        background: #404041;
        padding: 10px 14px;
        a{
            float: left !important;
            padding: 0 !important;
            font-family: Solido-Bold !important;
            font-size: 17px !important;
            color: #fff !important;
            width: 100% !important;
            text-align: center;
            &.linksitioadm{
                float: right !important;
                width: 100% !important;
                padding: 0 !important;
                text-align: center;
                margin-top: 5px;
                img{
                    width: 90px;
                }
            }
        }
    }
}

//hack para los colores
#menu-por-facultad,
#menu-por-grado{
    li.logo-facultad{
        & > a{
            margin-bottom: 5px !important;
            &:after{
                display: none !important; 
            }
            img{
                height: 30px;
            }
        }
    }
    li.color-colegio{
        @include color($cuae);
    }
    li.color-humanidades{
        @include color($humanidades);
    }
    li.color-masters{
        & > a{
            color: $dark !important;
            em{
                color: $green !important;
            }
            &:hover{
                padding: 0px !important;
                background: transparent !important;
            }
        }
    }
    li.color-sociales{
        @include color($sociales);
    }
    li.color-global{
        @include color($global);
    }
    li.color-design{
        @include color($design);
    }
    li.color-educacion{
        @include color($educacion);
    }
    li.color-ingenieria{
        @include color($ingenieria);
    }
}

//Por grado
.por-grado {
    display: none;
    width: 75%;
    border-left: 1px solid $green;
    &.active{
        display: inline-block;
    }
    .menu-por-grado-container{
        float: left;
        width: 100%;
        position: relative;
        #menu-por-grado{
            & > li{
                & > ul{
                    & > li{
                        &>a{
                            &:hover{
                                padding: 0px !important;
                                background: transparent !important;
                            }
                        }
                    }
                }
            }
        }
        .menu,
        #menu-por-grado{
            float: left;
            width: 100% !important;
            max-height: 1000px !important;
            position: relative !important;
            top: 0 !important;
            //Hack para los tamaños de las columnas
            & > li{
                &:nth-child(2){
                    & > ul{
                        li{
                            width: 50% !important; 
                            ul{
                                li{
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            // //Hack para los colores
            // & > li{
            //     //Baccalaeratus
            //     &:nth-child(1){
            //         & > ul{
            //             & > li{
            //                 & > a,
            //                 & > a:hover{ 
            //                     color: $cuae !important;
            //                 }
            //             }
            //         }
            //     }
            //     //Profesorados
            //     &:nth-child(2){
            //         & > ul{
            //             & > li{
            //                 & > a,
            //                 & > a:hover{
            //                     color: $educacion !important;
            //                 }
            //                 ul{
            //                     li{
            //                         a{
            //                             span{
            //                                 background: #00a79d;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     //Licenciaturas
            //     &:nth-child(3){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a,
            //                 & > a:hover{
            //                     color: $ingenieria !important;
            //                 }
            //             }
            //             & > li:nth-child(2){
            //                 & > a{
            //                     color: $humanidades !important;
            //                 }
            //             }
            //             & > li:nth-child(3){
            //                 & > a{
            //                     color: $global !important;
            //                 }
            //             }
            //             & > li:nth-child(4){
            //                 & > a{
            //                     color: $sociales !important;
            //                 }
            //             }
            //             & > li:nth-child(5){
            //                 & > a{
            //                     color: $design !important;
            //                 }
            //             }
            //             & > li:nth-child(6){
            //                 & > a{
            //                     color: $educacion !important;
            //                 }
            //             }
            //             & > li{
            //                 ul{
            //                     li{
            //                         a{
            //                             span{
            //                                 background: #00a79d;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     //Masters
            //     &:nth-child(4){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $ingenieria !important;
            //                 }
            //             }
            //             & > li:nth-child(2){
            //                 & > a{
            //                     color: $educacion !important;
            //                 }
            //             }
            //             & > li:nth-child(3){
            //                 & > a{
            //                     color: $sociales !important;
            //                 }
            //             }
            //             & > li:nth-child(4){
            //                 & > a{
            //                     color: $humanidades !important;
            //                 }
            //             }
            //         }
            //     }
            //     //Posgrados
            //     &:nth-child(5){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $humanidades !important;
            //                 }
            //             }
            //             & > li:nth-child(2){
            //                 & > a{
            //                     color: $sociales !important;
            //                 }
            //             }
            //         }
            //     }
            //     //Doctorados
            //     &:nth-child(6){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $sociales !important;
            //                 }
            //             }
            //         }
            //     }
            // }
            & > li{
                &:nth-child(1){
                    & > a{
                        padding-top: 0 !important;
                    }
                }
            }
            li{
                float: left;
                margin: 0 !important;
                width: 25%;
                margin: 0 !important;
                clear: both;
                &.active{
                    & > a{
                        background: $green;
                        color: white !important;
                        em{
                            color: white !important;
                        }
                        &:hover{
                            color: white !important;
                        }
                    }
                }
                a{
                    color: #404041;
                    transition: 0.5s all;
                    font-size: 13px !important;
                    font-family: Solido-Bold !important;
                    padding: 5px 30px 2px 25px !important;
                    float: left !important;
                    width: 90% !important;
                    margin-top: 0 !important;;
                    em{
                        color: $lgreen;
                        font-style: normal;
                    } 
                    // &:after{
                    //     content: "\f054";
                    //     font-family: FontAwesome;
                    //     font-size: 10px;
                    //     margin-left: 5px;
                    // }
                    &:hover{
                        color: $green;
                    }
                }
                ul{
                    position: absolute !important;
                    left: 25% !important;
                    top: 0 !important;
                    width: 75% !important;
                    display: none;
                    max-height: 1000px !important;
                    li{
                        float: left; 
                        width: 33.33% !important;
                        max-width: none !important;
                        clear: none !important;
                        a{
                            font-size: 17px !important;
                            margin: 10px 0;
                            padding: 0 !important;
                            &:hover{
                                color: $green;
                            }
                            &:after{
                                content:"";
                            }
                        }
                        ul{
                            float: left !important;
                            width: 100% !important;
                            position: relative !important;
                            left: 0 !important;
                            li{
                                float: left !important;
                                width: 100% !important;
                                a{
                                    font-size: 13px !important;
                                    margin: 0px 0 7px !important;
                                    line-height: normal;
                                    &:hover{
                                        color: white;
                                        padding: 4px !important; 
                                    }
                                    span{
                                        width: 5px;
                                        height: 5px;
                                        background: black;
                                        display: inline-block;
                                        margin-left: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Por grado

//Por facultad
.por-facultad {
    display: none;
    width: 75%;
    border-left: 1px solid $green;
    &.active{
        display: inline-block;
    } 
    .menu-por-facultad-container{
        float: left;
        width: 100%;
        position: relative;
        .menu{
            float: left;
            width: 100% !important;
            max-height: 1000px !important;
            position: relative !important;
            top: 0 !important;
            //Hack para los tamaños de las columnas
            & > li{
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(7){
                    & > ul{
                        li{
                            width: 50% !important; 
                            ul{
                                li{
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }

            // //Hack para los colores
            // & > li{
            //     //Humanidades
            //     &:nth-child(2){
            //         & > ul{
            //             & > li:nth-child(2){
            //                 a{
            //                     color: black;
            //                 }
            //             }                        
            //             & > li:nth-child(1),
            //             & > li:nth-child(3){
            //                 & > a{
            //                     color: $humanidades !important;
            //                 }
            //                 ul{
            //                     li{
            //                         a{
            //                             span{
            //                                 background: #00a79d;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     //Ciencias Sociales
            //     &:nth-child(3){
            //         & > ul{
            //             & > li:nth-child(1),
            //             & > li:nth-child(3){
            //                 & > a{
            //                     color: $sociales !important;
            //                 }
            //             }
            //             & > li{
            //                 ul{
            //                     li{
            //                         a{
            //                             span{
            //                                 background: #00a79d;
            //                             }
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     //Design Innovation & Arts
            //     &:nth-child(4){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $design !important;
            //                 }
            //             }
            //         }
            //     }
            //     //Educacion
            //     &:nth-child(5){
            //         & > ul{
            //             & > li{
            //                 & > a{
            //                     color: $educacion !important;
            //                 }
            //             }
            //             & > li:nth-child(3){
            //                 clear: both !important;
            //             }
            //             & > li:nth-child(4){
            //                 & > a{
            //                     color: black !important;
            //                     em{
            //                         color: $lgreen !important;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            //     //Global
            //     &:nth-child(6){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $global !important;
            //                 }
            //             }
            //         }
            //     }
            //     //Ingeniería
            //     &:nth-child(7){
            //         & > ul{
            //             & > li:nth-child(1){
            //                 & > a{
            //                     color: $ingenieria !important;
            //                 }
            //             }
            //         }
            //     }
            // }
            & > li{
                &:nth-child(1){
                    & > a{
                        padding-top: 0 !important;
                    }
                }
            }
            li{
                float: left;
                margin: 0 !important;
                width: 30%;
                margin: 0 !important;
                clear: both;
                max-width: 310px !important;
                &.active{
                    & > a{
                        background: $green;
                        color: white !important;
                        em{
                            color: white !important;
                        }
                        &:hover{
                            color: white !important;
                        }
                    }
                }
                a{
                    color: #404041;
                    transition: 0.5s all;
                    font-size: 13px !important;
                    font-family: Solido-Bold !important;
                    padding: 5px 0px 2px 25px !important;
                    float: left !important;
                    width: 90% !important;
                    margin-top: 0 !important;;
                    em{
                        color: $lgreen;
                        font-style: normal;
                    }
                    &:after{
                        content: "\f054";
                        font-family: FontAwesome;
                        font-size: 10px;
                        margin-left: 5px;
                    }
                    &:hover{
                        color: $green;
                    }
                }
                ul{
                    position: absolute !important;
                    left: 30% !important;
                    top: 0 !important;
                    width: 70% !important;
                    display: none;
                    max-height: 1000px !important;
                    li{
                        float: left; 
                        width: 33.33% !important;
                        max-width: none !important;
                        clear: none !important;
                        a{
                            font-size: 17px !important;
                            margin: 10px 0;
                            padding: 0 !important;
                            &:hover{
                                color: $green;
                            }
                            &:after{
                                content:"";
                            }
                        }
                        ul{
                            float: left !important;
                            width: 100% !important;
                            position: relative !important;
                            left: 0 !important;
                            li{
                                float: left !important;
                                width: 100% !important;
                                a{
                                    font-size: 13px !important;
                                    margin: 0px 0 7px !important;
                                    line-height: normal;
                                    &:hover{
                                        color: white !important;
                                        padding: 4px !important;
                                    }
                                    span{
                                        width: 5px;
                                        height: 5px;
                                        background: black;
                                        display: inline-block;
                                        margin-left: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Por facultad

// Admisiones remove admisiones banner
#menu-item-23{
    li.right{
        @media (max-width:994px){
            display: none;
        }
    }
}

#menu-principal-1{
    &.active{
        max-height: 395px;
        overflow: auto;
    }
}