.seccion-destacada{
    a{
        float: left;
        width: 100%;
        color: #000;
        font-weight: 700;
    }
    img{
        float: left;
        width: 100%;
    }
    p{
        float: left;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
    } 
}