@font-face {
  font-family: 'iconosuvg';
  src: url('fonts/iconosuvg.eot?86030339');
  src: url('fonts/iconosuvg.eot?86030339#iefix') format('embedded-opentype'),
       url('fonts/iconosuvg.woff2?86030339') format('woff2'),
       url('fonts/iconosuvg.woff?86030339') format('woff'),
       url('fonts/iconosuvg.ttf?86030339') format('truetype'),
       url('fonts/iconosuvg.svg?86030339#iconosuvg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconosuvg';
    src: url('fonts/iconosuvg.svg?86030339#iconosuvg') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconosuvg";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-oi-04:before { content: '\e800'; } /* '' */
.icon-ccss-02:before { content: '\e801'; } /* '' */
.icon-ccss-03:before { content: '\e802'; } /* '' */
.icon-ccss-04:before { content: '\e803'; } /* '' */
.icon-ccss-05:before { content: '\e804'; } /* '' */
.icon-ccss-06:before { content: '\e805'; } /* '' */
.icon-ccss-07:before { content: '\e806'; } /* '' */
.icon-ccss-08:before { content: '\e807'; } /* '' */
.icon-ccss-09:before { content: '\e808'; } /* '' */
.icon-ccss-10:before { content: '\e809'; } /* '' */
.icon-ccss-11:before { content: '\e80a'; } /* '' */
.icon-ccss-12:before { content: '\e80b'; } /* '' */
.icon-ccss-13:before { content: '\e80c'; } /* '' */
.icon-ccss-14:before { content: '\e80d'; } /* '' */
.icon-ccss-15:before { content: '\e80e'; } /* '' */
.icon-ccss-16:before { content: '\e80f'; } /* '' */
.icon-ccss-17:before { content: '\e810'; } /* '' */
.icon-ccss-18:before { content: '\e811'; } /* '' */
.icon-ccss-19:before { content: '\e812'; } /* '' */
.icon-ccss-20:before { content: '\e813'; } /* '' */
.icon-ccss-21:before { content: '\e814'; } /* '' */
.icon-ccss-22:before { content: '\e815'; } /* '' */
.icon-ccss-23:before { content: '\e816'; } /* '' */
.icon-ccss-24:before { content: '\e817'; } /* '' */
.icon-ccss-25:before { content: '\e818'; } /* '' */
.icon-ccss-26:before { content: '\e819'; } /* '' */
.icon-ccss-27:before { content: '\e81a'; } /* '' */
.icon-ccss-28:before { content: '\e81b'; } /* '' */
.icon-ccss-29:before { content: '\e81c'; } /* '' */
.icon-ccss-30:before { content: '\e81d'; } /* '' */
.icon-ccss-31:before { content: '\e81e'; } /* '' */
.icon-ccss-32:before { content: '\e81f'; } /* '' */
.icon-ccss-33:before { content: '\e820'; } /* '' */
.icon-ccss-34:before { content: '\e821'; } /* '' */
.icon-ccss-35:before { content: '\e822'; } /* '' */
.icon-ccss-36:before { content: '\e823'; } /* '' */
.icon-ccss-37:before { content: '\e824'; } /* '' */
.icon-ccss-38:before { content: '\e825'; } /* '' */
.icon-ccss-39:before { content: '\e826'; } /* '' */
.icon-ccss-40:before { content: '\e827'; } /* '' */
.icon-ccss-41:before { content: '\e828'; } /* '' */
.icon-ccss-42:before { content: '\e829'; } /* '' */
.icon-ccss-43:before { content: '\e82a'; } /* '' */
.icon-ccss-44:before { content: '\e82b'; } /* '' */
.icon-cchh_v:before { content: '\e82c'; } /* '' */
.icon-oi-06:before { content: '\e82d'; } /* '' */
.icon-oi-08:before { content: '\e82e'; } /* '' */
.icon-oi-09:before { content: '\e82f'; } /* '' */
.icon-oi-10:before { content: '\e830'; } /* '' */
.icon-oi-11:before { content: '\e831'; } /* '' */
.icon-oi-12:before { content: '\e832'; } /* '' */
.icon-cchh-08:before { content: '\e834'; } /* '' */
.icon-cchh-09:before { content: '\e835'; } /* '' */
.icon-cchh-10:before { content: '\e836'; } /* '' */
.icon-cchh-11:before { content: '\e837'; } /* '' */
.icon-cchh-12:before { content: '\e838'; } /* '' */
.icon-cchh-13:before { content: '\e839'; } /* '' */
.icon-cchh-14:before { content: '\e83a'; } /* '' */
.icon-cchh-15:before { content: '\e83b'; } /* '' */
.icon-cchh-16:before { content: '\e83c'; } /* '' */
.icon-cchh-19:before { content: '\e83f'; } /* '' */
.icon-cchh-20:before { content: '\e840'; } /* '' */
.icon-cchh-21:before { content: '\e841'; } /* '' */
.icon-cchh-22:before { content: '\e842'; } /* '' */
.icon-cchh-23:before { content: '\e843'; } /* '' */
.icon-cchh-24:before { content: '\e844'; } /* '' */
.icon-cchh-25:before { content: '\e845'; } /* '' */
.icon-cchh-26:before { content: '\e846'; } /* '' */
.icon-cchh-27:before { content: '\e847'; } /* '' */
.icon-cchh-28:before { content: '\e848'; } /* '' */
.icon-cchh-29:before { content: '\e849'; } /* '' */
.icon-cchh-30:before { content: '\e84a'; } /* '' */
.icon-cchh-31:before { content: '\e84b'; } /* '' */
.icon-cchh-32:before { content: '\e84c'; } /* '' */
.icon-cchh-33:before { content: '\e84d'; } /* '' */
.icon-cchh-34:before { content: '\e84e'; } /* '' */
.icon-cchh-35:before { content: '\e84f'; } /* '' */
.icon-cchh-36:before { content: '\e850'; } /* '' */
.icon-cchh-37:before { content: '\e851'; } /* '' */
.icon-cchh-38:before { content: '\e852'; } /* '' */
.icon-cchh-39:before { content: '\e853'; } /* '' */
.icon-cchh-40:before { content: '\e854'; } /* '' */
.icon-cchh-41:before { content: '\e855'; } /* '' */
.icon-cchh-42:before { content: '\e856'; } /* '' */
.icon-cchh-43:before { content: '\e857'; } /* '' */
.icon-cchh-44:before { content: '\e858'; } /* '' */
.icon-cchh-45:before { content: '\e859'; } /* '' */
.icon-cchh-47:before { content: '\e85b'; } /* '' */
.icon-cchh-48:before { content: '\e85c'; } /* '' */
.icon-cchh-49:before { content: '\e85d'; } /* '' */
.icon-cchh-50:before { content: '\e85e'; } /* '' */
.icon-cchh-51:before { content: '\e85f'; } /* '' */
.icon-cchh-52:before { content: '\e860'; } /* '' */
.icon-cchh-53:before { content: '\e861'; } /* '' */
.icon-cchh-54:before { content: '\e862'; } /* '' */
.icon-cchh-55:before { content: '\e863'; } /* '' */
.icon-cchh-56:before { content: '\e864'; } /* '' */
.icon-cchh-57:before { content: '\e865'; } /* '' */
.icon-cchh-58:before { content: '\e866'; } /* '' */
.icon-cchh-59:before { content: '\e867'; } /* '' */
.icon-cchh-60:before { content: '\e868'; } /* '' */
.icon-cchh-62:before { content: '\e86a'; } /* '' */
.icon-cchh-63:before { content: '\e86b'; } /* '' */
.icon-cchh-64:before { content: '\e86c'; } /* '' */
.icon-cchh-65:before { content: '\e86d'; } /* '' */
.icon-cchh-66:before { content: '\e86e'; } /* '' */
.icon-cchh-67:before { content: '\e86f'; } /* '' */
.icon-cchh-68:before { content: '\e870'; } /* '' */
.icon-cchh-69:before { content: '\e871'; } /* '' */
.icon-cchh-70:before { content: '\e872'; } /* '' */
.icon-cchh-71:before { content: '\e873'; } /* '' */
.icon-cchh-72:before { content: '\e874'; } /* '' */
.icon-cchh-73:before { content: '\e875'; } /* '' */
.icon-cchh-74:before { content: '\e876'; } /* '' */
.icon-cchh-75:before { content: '\e877'; } /* '' */
.icon-cchh-77:before { content: '\e879'; } /* '' */
.icon-cchh-78:before { content: '\e87a'; } /* '' */
.icon-cchh-79:before { content: '\e87b'; } /* '' */
.icon-cchh-80:before { content: '\e87c'; } /* '' */
.icon-cchh-81:before { content: '\e87d'; } /* '' */
.icon-cchh-82:before { content: '\e87e'; } /* '' */
.icon-cchh-83:before { content: '\e87f'; } /* '' */
.icon-cchh-84:before { content: '\e880'; } /* '' */
.icon-cchh-85:before { content: '\e881'; } /* '' */
.icon-cchh-86:before { content: '\e882'; } /* '' */
.icon-cchh-87:before { content: '\e883'; } /* '' */
.icon-cchh-88:before { content: '\e884'; } /* '' */
.icon-cuae-06:before { content: '\e88a'; } /* '' */
.icon-cuae-09:before { content: '\e88d'; } /* '' */
.icon-cuae-10:before { content: '\e88e'; } /* '' */
.icon-cuae-12:before { content: '\e890'; } /* '' */
.icon-cuae-13:before { content: '\e891'; } /* '' */
.icon-dia-07:before { content: '\e899'; } /* '' */
.icon-dia-09:before { content: '\e89b'; } /* '' */
.icon-dia-10:before { content: '\e89c'; } /* '' */
.icon-dia-11:before { content: '\e89d'; } /* '' */
.icon-dia-12:before { content: '\e89e'; } /* '' */
.icon-dia-14:before { content: '\e89f'; } /* '' */
.icon-dia-15:before { content: '\e8a0'; } /* '' */
.icon-dia-16:before { content: '\e8a1'; } /* '' */
.icon-dia-17:before { content: '\e8a2'; } /* '' */
.icon-dia-18:before { content: '\e8a3'; } /* '' */
.icon-dia-19:before { content: '\e8a4'; } /* '' */
.icon-dia-21:before { content: '\e8a6'; } /* '' */
.icon-edu-10:before { content: '\e8b0'; } /* '' */
.icon-edu-11:before { content: '\e8b1'; } /* '' */
.icon-edu-17:before { content: '\e8b6'; } /* '' */
.icon-edu-19:before { content: '\e8b8'; } /* '' */
.icon-edu-20:before { content: '\e8b9'; } /* '' */
.icon-edu-21:before { content: '\e8ba'; } /* '' */
.icon-edu-22:before { content: '\e8bb'; } /* '' */
.icon-edu-23:before { content: '\e8bc'; } /* '' */
.icon-edu-24:before { content: '\e8bd'; } /* '' */
.icon-edu-25:before { content: '\e8be'; } /* '' */
.icon-edu-28:before { content: '\e8c0'; } /* '' */
.icon-edu-30:before { content: '\e8c2'; } /* '' */
.icon-edu-31:before { content: '\e8c3'; } /* '' */
.icon-edu-33:before { content: '\e8c5'; } /* '' */
.icon-edu-34:before { content: '\e8c6'; } /* '' */
.icon-edu-35:before { content: '\e8c7'; } /* '' */
.icon-edu-36:before { content: '\e8c8'; } /* '' */
.icon-edu-37:before { content: '\e8c9'; } /* '' */
.icon-edu-38:before { content: '\e8ca'; } /* '' */
.icon-edu-41:before { content: '\e8cc'; } /* '' */
.icon-edu-43:before { content: '\e8ce'; } /* '' */
.icon-edu-45:before { content: '\e8d0'; } /* '' */
.icon-edu-46:before { content: '\e8d1'; } /* '' */
.icon-edu-48:before { content: '\e8d3'; } /* '' */
.icon-edu-50:before { content: '\e8d5'; } /* '' */
.icon-edu-54:before { content: '\e8d8'; } /* '' */
.icon-edu-55:before { content: '\e8d9'; } /* '' */
.icon-edu-57:before { content: '\e8db'; } /* '' */
.icon-edu-58:before { content: '\e8dc'; } /* '' */
.icon-edu-59:before { content: '\e8dd'; } /* '' */
.icon-edu-60:before { content: '\e8de'; } /* '' */
.icon-edu-62:before { content: '\e8e0'; } /* '' */
.icon-edu-63:before { content: '\e8e1'; } /* '' */
.icon-oi-01:before { content: '\e8ea'; } /* '' */
.icon-oi-02:before { content: '\e8eb'; } /* '' */
.icon-oi-03:before { content: '\e8ec'; } /* '' */
.icon-gmbi-12:before { content: '\e8ed'; } /* '' */
.icon-oi-05:before { content: '\e8ee'; } /* '' */
.icon-gmbi-14:before { content: '\e8ef'; } /* '' */
.icon-oi-07:before { content: '\e8f0'; } /* '' */
.icon-gmbi-16:before { content: '\e8f1'; } /* '' */
.icon-gmbi-17:before { content: '\e8f2'; } /* '' */
.icon-ing-01:before { content: '\e8f3'; } /* '' */
.icon-ing-02:before { content: '\e8f4'; } /* '' */
.icon-ing-03:before { content: '\e8f5'; } /* '' */
.icon-ing-04:before { content: '\e8f6'; } /* '' */
.icon-ing-05:before { content: '\e8f7'; } /* '' */
.icon-ing-07:before { content: '\e8f9'; } /* '' */
.icon-ing-08:before { content: '\e8fa'; } /* '' */
.icon-ing-09:before { content: '\e8fb'; } /* '' */
.icon-ing-10:before { content: '\e8fc'; } /* '' */
.icon-ing-11:before { content: '\e8fd'; } /* '' */
.icon-ing-12:before { content: '\e8fe'; } /* '' */
.icon-ing-13:before { content: '\e8ff'; } /* '' */
.icon-ing-14:before { content: '\e900'; } /* '' */
.icon-ing-15:before { content: '\e901'; } /* '' */
.icon-ing-16:before { content: '\e902'; } /* '' */
.icon-ing-17:before { content: '\e903'; } /* '' */
.icon-ing-18:before { content: '\e904'; } /* '' */
.icon-ing-19:before { content: '\e905'; } /* '' */
.icon-ing-20:before { content: '\e906'; } /* '' */
.icon-ing-21:before { content: '\e907'; } /* '' */
.icon-ing-22:before { content: '\e908'; } /* '' */
.icon-ing-23:before { content: '\e909'; } /* '' */
.icon-ing-24:before { content: '\e90a'; } /* '' */
.icon-ing-25:before { content: '\e90b'; } /* '' */
.icon-ing-26:before { content: '\e90c'; } /* '' */
.icon-ing-27:before { content: '\e90d'; } /* '' */
.icon-ing-28:before { content: '\e90e'; } /* '' */
.icon-ing-30:before { content: '\e910'; } /* '' */
.icon-ing-31:before { content: '\e911'; } /* '' */
.icon-ing-32:before { content: '\e912'; } /* '' */
.icon-ing-33:before { content: '\e913'; } /* '' */
.icon-ing-34:before { content: '\e914'; } /* '' */
.icon-ing-35:before { content: '\e915'; } /* '' */
.icon-ing-36:before { content: '\e916'; } /* '' */
.icon-ing-37:before { content: '\e917'; } /* '' */
.icon-ing-38:before { content: '\e918'; } /* '' */
.icon-ing-39:before { content: '\e919'; } /* '' */
.icon-ing-40:before { content: '\e91a'; } /* '' */
.icon-ing-41:before { content: '\e91b'; } /* '' */
.icon-ing-42:before { content: '\e91c'; } /* '' */
.icon-ing-43:before { content: '\e91d'; } /* '' */
.icon-ing-44:before { content: '\e91e'; } /* '' */
.icon-ing-45:before { content: '\e91f'; } /* '' */
.icon-ing-46:before { content: '\e920'; } /* '' */
.icon-ing-47:before { content: '\e921'; } /* '' */
.icon-ing-48:before { content: '\e922'; } /* '' */
.icon-ing-49:before { content: '\e923'; } /* '' */
.icon-ing-50:before { content: '\e924'; } /* '' */
.icon-ing-51:before { content: '\e925'; } /* '' */
.icon-ing-52:before { content: '\e926'; } /* '' */
.icon-ing-53:before { content: '\e927'; } /* '' */
.icon-ing-54:before { content: '\e928'; } /* '' */
.icon-ing-55:before { content: '\e929'; } /* '' */
.icon-ing-56:before { content: '\e92a'; } /* '' */
.icon-ing-57:before { content: '\e92b'; } /* '' */
.icon-ing-58:before { content: '\e92c'; } /* '' */
.icon-ing-59:before { content: '\e92d'; } /* '' */
.icon-ing-60:before { content: '\e92e'; } /* '' */
.icon-ing-61:before { content: '\e92f'; } /* '' */
.icon-dia-20:before { content: '\e931'; } /* '' */