.investigacion-icono-vertical{
    background: #DDE0E1;
    padding: 25px;
    p{
        width: 100%;
        img{
            height: 81px;
            max-width: none;
            width: auto;
        }
        
    }
    a{
        text-align: right;
    }
    h2{
        width: 100%;
        text-align: center;
    }
}
.investigacion-icono-derecha{
    background: #DDE0E1;
    padding: 25px;
    float: left;
    p{
        float: left;
        width: calc(100% - 105px);
        &:nth-child(1){
            width: 85px;
            float: right;
        }
        a{
            width: 100%;
            text-align: right;
            color: $green;
            display: inline-block;
        }
        img{
            padding-right: 20px;
            width: 85px;
        }
    }
    h2{
        float:right;
        width: calc(100% - 105px);
    }
    ul{
        float: right;
        width: calc(100% - 105px);
    }
}
.investigacion-icono-izquierda{
    background: #DDE0E1;
    padding: 25px;
    float: left;
    p{
        float: right;
        width: calc(100% - 105px);
        &:nth-child(1){
            width: 85px;
            float: left;
        }
        a{
            width: 100%;
            text-align: right;
            color: $green;
            display: inline-block;
        }
        img{
            padding-right: 20px;
            width: 85px;
        }
    }
    h2{
        float:left;
        width: calc(100% - 105px);
    }
    ul{
        float: left;
        width: calc(100% - 105px);
    }
}

.investigacion-icono-vertical,
.investigacion-icono-derecha,
.investigacion-icono-izquierda{
    p{
        text-align: center;
        padding-bottom: 10px;
        &:last-of-type{
            width: 100%;
            padding-bottom: 0;
        }
    }
    h2{
        font-size: 21px;
    }
    a{
        width: 100%;
        text-align: right;
        color: $green;
        display: inline-block;
        &:hover{
            font-weight: 700;
        }
    }
    p,
    ul{
        font-size: 17px;
        line-height: 20px;
    }
}



///

.row-centro-investigacion{
    display: flex;
    .et_pb_column_1{
        margin-right: 0;
        width: 34.333%;
    }
    .instituto-caja-intro{
        height: 100%;
        padding: 25px;
        font-size: 17px;
        line-height: 29px;
        font-weight: 700;
    }
    .instituto-caja-descripcion{
        height: 100%;
        padding: 25px;
        font-size: 17px;
        line-height: 29px;
    }
}