.section-title{
    h2{
        text-transform: uppercase;
        text-align: center;
        font-family: Solido-Bold;
        font-size: 25pt;
        color: #404041;
        line-height: 30px;
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 42px;
            background: url(images/border-titlesimple.png) no-repeat center top;
            margin-top: 26px;
        }
    }
}