.full-width-slider{
    .et_pb_slide_description {
        padding-top: 27%;
        padding-bottom: 5%;
        font-size: 53px;
        padding-right: 0;
        padding-left: 16%;
        line-height: normal;
        font-family: BebasNeue;
        text-shadow: 1px 1px 1px #121212;
        text-transform: uppercase;
    }
}