a.btn-default:hover {
    background: transparent;
    color: #1b75bb;
}
a.btn-default {
    background: #1b75bb;
    color: #fff;
    border: 1px solid #1b75bb;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1.4em;
}


input.btn-default {
    background: #1b75bb!important;
    color: #fff!important;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}
input.btn-default:hover {
    background: #078b45!important;
}

a.btn-default-color:hover {
    background: #1b75bb;
    color: #fff;
}
a.btn-default-color {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1.4em;
}







.col2 {width: 49%;float: left;margin-right: 2%;margin-bottom: 2%;}
.col2:nth-child(2n) {margin-right: 0;}

.col3 {float: left;width: 32%;margin: 1% 2% 1% 0;}
.col3:nth-child(3n) {margin: 1% 0 1% 0;}

.col4 {float: left;width: 23.5%;margin:1% 2% 1% 0;}
.col4:nth-child(4n) {margin-right: 0;}

.col5 {float: left;width: 18.4%;margin:1% 2% 1% 0;}
.col5:nth-child(5n) {margin-right: 0;}

.col6 {float: left;width: 15%;margin:1% 2% 1% 0;}
.col6:nth-child(6n) {margin-right: 0;}

.col7 {float: left;width: 12.57%;margin: 1% 2% 1% 0;}
.col7:nth-child(7n) {margin-right: 0;}

.col8 {float: left;width: 10.75%;margin: 1% 2% 1% 0;}
.col8:nth-child(8n) {margin-right: 0;}

.col9 {float: left;width: 9.33%;margin: 1% 2% 1% 0;}
.col9:nth-child(9n) {margin-right: 0;}

.col10 {float: left;width: 8.2%;margin: 1% 2% 1% 0;}
.col10:nth-child(10n) {margin-right: 0;}

.col11 {float: left;width: 7.27%;margin: 1% 2% 1% 0;}
.col11:nth-child(11n) {margin-right: 0;}

.col12 {float: left;width: 6.5%;margin: 1% 2% 1% 0;}
.col12:nth-child(12n) {margin-right: 0;}












.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	right:20%;
	bottom:25%;
	color:#fff;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-transform: uppercase;
	font-family: 'BebasNeue';
	font-size: 40pt;
	line-height: 1.2em;
	text-align: right;
	text-shadow: 1px 1px 1px #121212;
	word-break: break-word;
}

@media (max-width: 1024px) {
	.nivo-caption {
		font-size: 26pt;
	}
}

@media (max-width: 720px) {
	.nivo-caption {
		font-size: 20pt;
	}
}

@media (max-width: 480px) {
	.nivo-caption {
		font-size: 12pt;
	}
}



.nivo-caption h1 {font-size: 4.9vw;font-family: 'Futura Book';color: #a98c6c;margin: 0;}
.nivo-caption h3 {font-size: 1.9vw;font-family: 'Futura Light';color: #fff;margin:0}

.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* .nivo-directionNav {display: none;} */
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
    width: 17px;
	height: 25px;
    text-indent: -999999px;
    background-size: 100%!important;
}
.nivo-prevNav {
	background: url(../images/icons/arrow-prev.png) no-repeat;
	left:30px;
}
.nivo-nextNav {
	background: url(../images/icons/arrow-next.png) no-repeat;
	right:30px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-control {
    text-indent: -200px;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
}
.nivo-control.active {
	background: #ed1c24;
}
.nivo-controlNav {
	text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    z-index: 9;
    right: 15px;
    display: none;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.centroform {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	border: 1px solide #E6E7E7;
	box-sizing: border-box;
	padding: 4%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.centroform form.form-suscribe input {
	background: #E6E7E7;
	width: 100%;
	font-size: 14pt;
	line-height: 20pt;
	color:#000;
	padding: 10px;
	
}
.centroform form.form-suscribe .g-recaptcha {
	width: 305px;
	margin: 10px auto;
}
.centroform form.form-suscribe textarea {
	width: 100%;
	background: #E6E7E7;
	color: #000;
	height: 190px;
}









