.intro-capacidades{
    background: #414042;
    color: #fff;
    padding: 100px 40px;
    h2{
        text-transform: uppercase;
        font-size: 41px !important;
        line-height: 1.4em;
        font-family: BebasNeue;
        color: white;
        em{
            color: #a1bb41;
            font-style: normal;           
        }
    }
}

.item-capacidad{
    float: left;
    i{
        &:before{
            color: #B4C577;
            font-size: 50px;
            float: left;            
        }
    }
    h3{
        float: right;
        width: calc(100% - 100px);
        font-family: BebasNeue;
        font-size: 21px;
    }
    p,ul,ol {
        font-size: 17px;
        float: right;
        width: calc(100% - 100px);
        line-height: normal;
        &:nth-child(1){
            margin-right: 10px;
            width: 90px;
            float: left;
        }
    }
}