.competencias-carreras{
    float: left; 
    width: 100%;
    height: 100%;
    .et_pb_text_inner{
        padding: 0px 35px 30px !important;
        display: inline-block;
    }
    p{
        float: left;
        width: 100%;
        img{
            width: 100%;
        }
    }
    h3{
        text-transform: uppercase;
        font-size: 21px;
        margin-top: 0;
        padding: 30px 0;
        float: left;
        width: 100%;
    }
    ul{
        padding: 0;
        float: left;
        width: 100%;
        li{
            font-size: 17px;
        }
    }
}