.conectate-carrera{
    color: #fff;
    padding: 80px 35px;
    h3{
        font-size: 40px;
        color: white;
        margin-bottom: 30px;
        text-transform: uppercase;
        width: 100%;
        font-family: BebasNeue;
    }
    a{
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 17px;
        line-height: 1.4em;
        width: 100%;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
    }
}