.footer-carreras{
    padding-bottom: 0px !important;
    .et_pb_row{
        padding-bottom: 0 !important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:after{
            @media (max-width: 1023px){
                display: none;
            }
        }
        .et_pb_column_1_4{
            margin: 0;
            width: 24%;
            @media (max-width: 1023px){
                width: 49%;
            }
            @media (max-width: 767px){
                width: 100% !important;
            }
            &:nth-child(1),
            &:nth-child(2){
                @media (max-width: 1023px){
                    margin-bottom: 15px;
                }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                @media (max-width: 767px){
                    margin-bottom: 15px;
                }
            }
        }
        .et_pb_column_1_4:nth-child(1){
            background: #414142;
            .proxima-prueba-carreras{
                float: left;
                width: 100%;
                position: relative;
                height: 100%;
                .et_pb_text_inner{
                    float: left;
                    width: 100%;
                    position: static;
                    height: 100%;
                    h3{
                        padding: 15px 15px 10px 15px;
                        font-size: 23px !important;
                        color: white;
                        float: left;
                        width: 100%;
                    }
                    h4{
                        float: left;
                        width: 100%;
                        padding: 0 15px 15px 15px;
                        color: #83bd0d;
                        font-size: 33px !important;
                    }
                    h5{
                        background: $green;
                        margin: 0;
                        padding: 15px 30px;
                        font-family: 'Solido-Bold';
                        font-size: 16px !important;
                        color: white;
                        width: 100%;
                        text-transform: uppercase;
                        position: absolute;
                        line-height: normal;
                        bottom: 0;
                        left: 0;
                        @media (max-width: 767px){
                            position: relative;
                            float: left;
                        }
                    }
                }
            }
        }
        //Contacto Admisiones
        .et_pb_column_1_4:nth-child(2){
            background: $green;
            .contacto-admisiones{
                position: relative;
                float: left;
                width: 100%;
                height: 100%;
                .et_pb_text_inner{
                    float: left;
                    width: 100%; 
                    position: static;
                    height: 100%;
                    h3{
                        font-size: 29px !important;
                        margin: 0;
                        padding: 12px 30px 5px 30px;
                        color: white;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    ul{
                        padding: 0;
                        list-style: none;
                        margin: 10px 0 5px;
                        width: 100%;
                        float: left;
                        li{
                            text-align: left;
                            position: relative;
                            padding: 0;
                            font-size: 18px;
                            margin-bottom: 5px;
                            color: black;
                            width: 100%;
                            text-align: center;
                            &:before{
                                font-family: FontAwesome;
                                content: "\f232";
                                margin-right: 5px;
                            }
                            a{
                                color: black;
                                font-size: 18px;
                                font-family: Solido-Bold;
                            }
                        }
                    }
                    h4{
                        font-size: 29px;
                        margin: 0;
                        padding: 0px 30px 0 30px;
                        color: white;
                        float: left;
                        width: 100%;
                        text-align: center;
                        a{
                            float: left;
                            width: 100%;
                            color: white;
                            font-size: 26px;
                        }
                    }
                    h5{
                        width: 100%;
                        text-align: center;
                        color: white;
                        background: #414042;
                        padding: 10px 15px 0;
                        margin-top: 16px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        a{
                            color: #fff;
                            font-family: 'Solido-Bold';
                            margin: 0 0 10px 0;
                            display: block;
                        }
                    }
                }
            }
        }
        //Fin Contacto Admisiones
        // Siguenos
        .et_pb_column_1_4:nth-child(3){
            background: #414142;
            .footer-links-carreras{
                float: left;
                width: 100%;
                height: 100%;
                .et_pb_text_inner{
                    float: left;
                    width: 100%;
                    position: static;
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                    }
                    br{
                        display: none;
                    }
                    a{
                        float: left;
                        width: 100%;
                        padding: 15px;
                        border-bottom: 2px solid #82bd0e;
                        font-family: Solido-Bold;
                        line-height: normal;
                        font-size: 20px;
                        color: white;
                        text-align: left;
                        height: 80px;
                        &:last-of-type{
                            border-bottom: 0;
                            @media (max-width: 1201px) and (min-width: 1024px){
                                img{
                                    float: left;
                                    margin-bottom: 10px;
                                    margin-right: 8px;
                                }
                            }
                        }
                        img{
                            vertical-align: middle;
                            max-width: 100%;
                            height: 40px;
                            width: auto;
                            margin-right: 3px; 
                        }
                    }
                }
            }
        }
        // Fin Siguenos
        //Contacto
        .et_pb_column_1_4:nth-child(4){
            background: $green;
            .contacto-carreras{
                .et_pb_text_inner{
                    float: left;
                    width: 100%;
                    position: static;
                    padding: 0 15px;
                    color: white;
                    h2{
                        background: #414142;
                        color: white;
                        text-align: center;
                        padding: 19px 0;
                        font-size: 32px !important;
                        margin-bottom: 15px;
                        margin-left: -15px;
                        width: calc(100% + 30px);
                    }
                    p,
                    strong{
                        float: left; 
                        width: 100%;
                        font-size: 20px;
                        color: white;
                        font-family: Solido-Bold; 
                    }
                    p{
                        font-size: 16px;
                        line-height: normal;
                    }
                    a{
                        float: left;
                        width: 100%;
                        color: white;
                        font-size: 16px;
                        line-height: normal;
                        margin: 5px 0;
                    }
                }
            }
            
        }
        //Fin Contacto
    }
}

.footer-masters{
    padding-bottom: 0px !important;
    .et_pb_row{
        padding: 0 !important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: $green;
        &:after{
            @media (max-width: 1023px){
                display: none;
            }
        }
        .master-footer1{
            background: #414042;
            text-align: center;
            padding: 0 20px;
            height: 100%;
            h2{
                color: white;
                font-size: 16px !important;
                text-align: center;
                padding-bottom: 0;
                padding-top: 20px;
            }
            h3{
                color: white;
                font-size: 25px !important;
                text-align: center;
                border-bottom: 1px solid white;
                padding-bottom: 20px;
                &:last-child{
                    border: none;
                }
            }
        }
        .master-footer2{
            text-align: center;
            color: white;
            text-align: center; 
            .et_pb_text_inner{
                text-align: center;
                font-weight: 700;
            }
            h3{
                text-align: center;
                color: white;
                font-size: 25px !important;
                padding-top: 20px;
            }
            strong{
                float: left;
                width: 100%;
                color: white;
            }
            a{
                float: left;
                width: 100%;
                color: white;
                font-weight: 700;
            }
        }
        .master-footer3{
            background: #414042;
            text-align: center;
            padding: 0 20px;
            position: relative;
            height: 100%;
            .et_pb_text_inner{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                p{
                    text-align: center;
                    a{
                        color: white;
                        font-family: BebasNeue;
                        font-size: 26px;
                        img{
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}