.intro-carrera{
    padding: 50px 0px 0px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    h1{
        padding: 0 30px;
        font-size: 49px;
        color: white;
        font-family: BebasNeue;
        line-height: normal;
        margin-bottom: 10px;
        em{
            font-size: 26px;
            font-style: normal;
        }
    }
    h2{
        line-height: normal;
        font-weight: normal;
        font-family: 'BebasNeue';
        margin-top: 0;
        font-size: 21px;
        color: white;
        margin-bottom: 10px;
        padding: 0 30px;
    }
    ul,
    ol{
        padding: 0 30px;
    }
    p{
        padding: 0 30px;
        &:nth-last-of-type(1){
            padding: 0;
            display: flex;
            margin-top: 30px;
            @media (max-width:575px){
                flex-wrap: wrap;
            }
        }
    }
    a{
        width: 50%;
        color: #fff;
        font-family: 'Solido-Bold';
        text-transform: uppercase;
        background: #6d6e72;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        float: left;
        border-right: 1px solid #fff;
        line-height: 29px;
        @media (max-width:575px){
            width: 100%;
        }
        &:nth-last-of-type(1){
            border: 0;
            @media (max-width:575px){
                border-top: 1px solid white;
            }
        }
        img{
            vertical-align: middle;
            margin-right: 10px;
            height: 30px;
            width: auto;
        }
    }
}
