.row-proxima-prueba-admision{
    padding: 30px !important;
    .titulo-prueba-admision{
        h3{
            font-family: BebasNeue;
            color: white;
            font-size: 32px !important;
        }
    }
    .boton-prueba-admision{
        background: #6d6e71 !important;
        color: #fff;
        padding: 10px 20px !important;
        width: 100%;
        display: block !important;
        text-align: center;
        border: none !important;
        font-family: Solido-Bold;
        font-size: 17px !important;
    }

    .proxima-fecha-inscripciones{
        background: #414042;
        height: 160px;
        h3{
            color: #96bb30;
            text-transform: uppercase;
            text-align: center;
            padding: 23px;
            font-size: 46px;
            width: 100%;
        }
        p{
            background: #6d6e71;
            text-align: center;
            color: #fff;
            font-family: 'Solido-Bold';
            font-size: 15pt;
            text-transform: uppercase;
            padding: 20px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}