/*Hack para el menu sticky*/
.et_pb_section {
    z-index: unset;
}
.admin-bar{
    .menu-secundario{
        &.sticky{
            top: 166px !important;
            @media (max-width: 999px){
                top: 171px !important;
            }
            @media (max-width: 749px){
                top: 153px !important;
            }
        }
    }
}
.menu-secundario{
    @media (max-width:999px){
        background: #e6e7e8;
        float: left;
        width: 100%;
        i{
            color: #3b3a3c; 
        }
    }
    &.sticky{
        top: 139px;
        @media (max-width: 999px){
            top: 139px !important;
        }
        @media (max-width: 749px){
            top: 110px !important;
        }
        position: fixed;
        left:0;
        z-index: 999;
        width: 100%;
        ul{
            li{
                margin: 0;
            }
        }
    }
    ul{
        float: left;
        width: 100%;
        margin: 0;
        padding: 0 !important;
        background: #e6e7e8;
        text-align: center;
        @media (max-width:999px){
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s;
            &.active{
                max-height:1000px;
                padding-bottom: 20px !important;
            }
        }
        li{
            display: inline-block;
            margin: 15px 0;
            @media (max-width:999px){
                float: left;
                width: 100%;
            }
            a{
                float: left;
                font-size: 16px;
                font-family: Solido-Bold;
                color: #201e1f;
                line-height: normal;
                margin: 10px 15px 0;
                &:hover,
                &.active{
                    color:#078b45;
                }
            }
        }
    }
}