.modulo-titulo-color{
    h2{
        margin: 0;
        padding: 5px 15px;
        font-family: Solido-Bold;
        font-size: 17px !important;
        line-height: 25px;
        color: white;
    }
    p{
        background: #dde0e1;
        color: black;
        margin: 0;
        padding: 15px;
        font-size: 17px;
        line-height: 29px;
        width: 100%;
    }
    ul{
        background: #dde0e1;
        color: black;
        margin: 0;
        padding: 15px 15px 15px 30px;
        font-size: 17px;
        line-height: 29px;
        width: 100%;
    }
}