/*
Theme Name: Aumenta
Theme URI: http://aumenta.do/
Template: Divi
Author: Aumenta
Author URI: http://aumenta.do/
Version: 3.9.1531244442
Updated: 2018-07-10 17:40:42

*/

body{
    font-family: Solido-Book;
    font-size: 17px;
    color: black;
} 
@import "partials/colors";
@import "partials/footer"; 
@import "partials/header"; 
@import "partials/slider_module"; 
@import "partials/section_title"; 
@import "partials/green_title_boxes"; 
@import "partials/directorio"; 
@import "partials/home_generico"; 
@import "partials/investigacion_icons"; 
@import "partials/iconosuvg"; 
@import "partials/slick"; 
@import "partials/slick-theme"; 

//Carreras
@import "partials/carreras/intro"; 
@import "partials/carreras/conectate"; 
@import "partials/carreras/capacidades"; 
@import "partials/carreras/proxima_prueba"; 
@import "partials/carreras/competencias"; 
@import "partials/carreras/footer"; 
@import "partials/carreras/submenu"; 
@import "partials/carreras/titulo_color"; 

h1,h2,h3,h4,h5,h6{
    font-family: BebasNeue;
} 
a{
    color: $green;
}


/*Carousel*/
.et_pb_accordion{
    background: #E6E8E7 !important;
    padding-bottom: 20px;
    border-top: 20px $green solid;
    .et_pb_accordion_item{
        background: #E6E8E7 !important;
        border: none !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 10px !important;
        .et_pb_toggle_title{
            margin: 0px;
            border-bottom: 1px solid #999;
            padding: 5px 0 10px !important; 
            font-size: 17px;
            cursor: pointer;
            &:before{
                color: $green;
            }
        }
        .et_pb_toggle_content{
            background: white;
            margin-top: 20px;
            padding: 15px;
            a{
                color: $green;
            }
            // a{
            //     width: 100%;
            //     text-align: right;
            //     display: block;
            //     color: #404041;
            //     padding-right: 15px;
            //     font-weight: 700;
            //     &:after{
            //         content: "";
            //         background: url(images/pdf.svg);
            //         width: 19px;
            //         height: 25px;
            //         display: inline-block;
            //         margin-left: 8px;
            //         vertical-align: top;
            //     }
            // }
        }
    }
}

//Footer Centros
.footer-centros{
    padding-bottom: 0 !important;
    .et_pb_row{
        padding: 0 !important;
        display: flex;
        .footer-centros-c1{
            text-align: center !important;
            color: white;
            p{
                font-size: 21px;
                font-weight: 700;
                line-height: 118px;
                float: left; 
                width: 100%;
                text-align: center;
                @media (max-width:980px){
                    line-height: 75px;
                }
            }
        }
        .footer-centros-c2{
            color: white;
            padding-top: 18px;
            font-weight: 700;
            @media (max-width:980px){
                text-align: center;
                padding-top: 0;
            }
            p{
                padding-bottom: 0px;
            }
            a{
                color: white;
                text-decoration: none;
                padding: 0;
            }
        }
        .footer-centros-c3{
            text-align: center;
            color: white;
            font-size: 22px;
            font-weight: 700;
            height: 100%;
            p{
                height: 132px;
                line-height: 132px;
                width: 100%;
                display: inline-block;
                text-align: center;
                a{
                    color: white;
                    img{
                        width: 30px;
                        vertical-align: sub;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

//Egresados
.egresados-listado{
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        li{
            margin-bottom: 15px;
            width: 15.5%;
            @media (max-width: 991px){
                width: 32.33%;
            }
            @media (max-width: 576px){
                width: 49%;
            }
            background: #078b45;
            &.name311{
                background: $educacion;
            }
            &.name310{
                background: #ff8570;
            }
            &.name309,
            &.name2799{
                background: $sociales;
            }
            &.name308{
                background: #80bc04;
            }
            &.name313{
                background: #1d9add;
            }
            &.name312{
                background: #003ca6;
            }
            &:hover{
                background: darken(#078b45,10%);
                &.name311{
                    background: darken($educacion,10%);
                }
                &.name310{
                    background: darken(#ff8570,10%);
                }
                &.name309,
                &.name2799{
                    background: darken($sociales,10%);
                }
                &.name308{
                    background: darken(#80bc04,10%);
                }
                &.name313{
                    background: darken(#1d9add,10%);
                }
                &.name312{
                    background: darken(#003ca6,10%);
                }
            }
            a{
                float: left;
                width: 100%;
                position: relative;
                img{
                    float: left;
                    width: 100%;
                }
                .name{
                    float: left;
                    width: 100%;
                    color: white;
                    padding: 7px 10px 5px;
                    text-align: center;
                    transition: all 0.5s;
                }
            }
        }
    }
}

// Menú ancho completo
.et-db #et-boc .menu-ancho-completo .et_pb_row.et_pb_row_fullwidth{ 
    width: 100% !important;
    max-width: 100% !important;
}
.admin-bar{
    .menu-ancho-completo{
        &.sticky{
            top: 167px !important;
            @media (max-width: 999px){
                top: 172px !important;
            }
            @media (max-width: 749px){
                top: 153px !important;
            }
        }
    }
}
.menu-ancho-completo{
    padding: 0 !important; 
    background: #93c021 !important;
    z-index: 99999;
    &.sticky{
        position: fixed !important;
        top: 139px;
        left:0;
        z-index: 999;
        width: 100%;
        @media (max-width: 999px){
            top: 139px !important;
        }
        @media (max-width: 749px){
            top: 107px !important;
        }
    }
    .et_pb_row_fullwidth{
        margin: 0 !important;
        padding: 0 !important;
        .menu-secundario-full{
            ul{
                float: left;
                width: 100%;
                margin: 0;
                padding: 0 !important;
                background: #93c021;
                text-align: center;
                @media (max-width:999px){
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.5s;
                    &.active{
                        max-height:1000px;
                        padding-bottom: 20px !important;
                    }
                }
                li{
                    display: inline-block;
                    margin: 0;
                    @media (max-width:999px){
                        float: left;
                        width: 100%;
                    }
                    a{
                        float: left;
                        font-size: 17px;
                        font-family: Solido-Bold;
                        color: black;
                        line-height: normal;
                        margin: 10px 15px 0;
                        &:hover,
                        &.active{ 
                            color:white;
                        }
                    }
                }
            }
        }
    }
}

//Título logo
.titulo-logo{
    .et_pb_image_wrap{
        text-align: center;
        width: 100%; 
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 42px;
            background: url(images/border-titlesimple.png) no-repeat center top;
        }
    }
}

//Admisiones
.et-db #et-boc .et_pb_row.et_pb_row_fullwidth.row-width-overlay{ 
    padding: 4%;
    background: rgba(0,0,0,0.5);
    width: 100% !important; 
    max-width: 100% !important;
}
.row-first-overlay{
    padding-top:0 !important;
    background: green;
    .et_pb_row.et_pb_row_fullwidth.row-width-overlay{
        padding: 4%;
        background: rgba(0,0,0,0.5);
        width: 100% !important;
        max-width: 100% !important;
    }
    .et_pb_row{
        @media (max-width: 1100px){
            display: flex; 
        }
        flex-wrap: nowrap !important;
        @media (max-width:767px){
            flex-wrap: wrap !important;
        }
        .et_pb_column_2{
            @media (max-width:767px){
                &:after{
                    display: none;
                }
            }
        }
        .et_pb_column{
            &:after{
                height: 70% !important;
            }
            @media (max-width:1024px){
                margin-right: 0px !important;
            }
            @media (max-width:767px){
                width: 48% !important;
                max-width: none !important;
            }
        }
    }
}
.black-overlay{
    padding: 6.75% 2%;
    background: rgba(0,0,0,0.5);
    color: white;
    font-weight: 700;
    font-size: 17px;
}
.titulo-admisiones {
    h2{
        font-family: BebasNeue;
        font-size: 40px;
        text-align: center;
    }
}
.admisiones-bloque1{
    position:relative;
    h2{
        font-size: 26px;
        padding: 10px 0;
        text-align: center;
        color: white;
    }
    p{
        position: relative;
        img{
            width: 100%;
            display: block;
        }
        a{
            position: absolute;
            width: 60%;
            padding: 10px 25px;
            bottom: 10%;
            text-align: center;
            background: #95c11f;
            font-family: Solido-Book;
            font-size: 17px;
            color: white;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
        }
    }
}
.admisiones-bloque2{
    p{
        position: relative;
        img{
            width: 100%;
            display: block;
        }
    }
    h2{
        font-size: 26px;
        padding: 10px 0 15px;
        text-align: center;
        color: white;
    }
}

.admision-footer-item{
    text-align:center;
    i{
        font-size: 40px;
        color: white;
    }
    p{
        padding: 0;
        color: white;
    }
    h3{
        color: #95c11f;
        font-size: 20px;
        margin: 10px 0;
    }
    a{
        font-size: 17px;
        color: white;
    }
}
.footer-admisiones-facebook{
    text-align: center !important;
    i{
        font-size: 40px;
        color: white;
        margin-right: 10px;
        position: relative;
        top: 7px;
    }
    a{
        font-size: 17px;
        color: white;
        img{
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

/*Educon*/
.search_educon{
    float: left; 
    width: 100%;
    margin-bottom: 25px;
    .search{
        float: right;
        width: 200px;
        input{
            float: left;
            width: 170px;
            background: #F6F6F6;
            padding: 5px 15px;
            border: 1px solid #A8A9AD;
            border-radius: 5px 0 0 5px;
        }
        button{
            float: left;
            background: #078b45;
            color: white;
            width: 30px;
            border: none;
            height: 25px;
            border-radius: 0 3px 3px 0;
            font-size: 15px;
        }
    }
}
.educon_fix{
    width: 95%;
}
.educones{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .regresar{
        width: calc(50% - 12.5px);
        background: #6abf4a;
        margin-bottom: 25px;
        @media (max-width: 575px){
            width: 100%;
            height: 300px;
        }
        .left{
            float: left;
            width: 50px;
            background: black;
            height: 100%;
            text-align: center;
            position: relative;
            a{
                color: white;
                font-size: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .right{
            float: left;
            width: calc(100% - 50px);
            height: 100%;
            position: relative;
            .title{
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                color: white;
                font-size: 24px;
                strong{
                    color: white;
                    margin-left: 20px;
                }
            }
        }
    }
    .element{
        width: calc(50% - 12.5px);
        background: #F1F1F3;
        padding: 20px;
        margin-bottom: 25px;
        @media (max-width: 575px){
            width: 100%;
        }
        h2{
            float: left;
            width: 100%;
            padding-bottom: 0;
        }
        .sub{
            float: left;
            width: 100%;
            margin-bottom: 5px;
            div{
                float: left;
                color: #3A3A3C;
                margin-right: 5px;
                font-size: 14px;
            }
        }
        .text{
            float: left; 
            width: 100%;
            .image{
                float: left;
                width: 50%;
                @media (max-width: 991px){
                    width: 100%;
                }
                img{
                    width: 100%;
                }
                .inversion{
                    float: left;
                    width: 100%;
                    font-size: 14px;
                }
            }
            .right{
                float: right;
                width: 50%;
                padding-left: 15px;
                @media (max-width: 991px){
                    width: 100%;
                    padding-left: 0;
                }
                .descripcion{
                    float: left;
                    font-size: 14px;
                    line-height: normal;
                    width: 100%;
                    margin-bottom: 15px;
                }
                .dirigido{
                    float: left;
                    font-size: 14px;
                    line-height: normal;
                    width: 100%;
                    color: #939498;
                }
            }
        }
        .bottom-links{
            float: left;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            a{
                color: #A7A8AC;
                text-decoration: underline;
                font-size: 14px;
                border-left: 1px solid #A7A8AC;
                flex-grow: 1;
                text-align: center;
                margin-top: 20px;
                line-height: normal;
                font-weight: 700;
                width: 20%;
                @media (max-width: 1023px){
                    font-size: 12px;
                }
                @media (max-width: 991px){
                    width: 32.33%;
                    &:nth-of-type(4){
                        border-color: transparent;
                    }
                }
                &:nth-of-type(1){
                    border-color: transparent;
                }
            }
        }
    }
}
.educones-anteriores{
    float: left;
    width: 100%;
    a{
        float: left;
        color: black;
        font-size: 16px;
        text-decoration: underline;
        font-weight:700;
    }
}
.educones-proximos{
    float: left;
    width: 100%;
    a{
        float: right;
        color: black;
        font-size: 16px;
        text-decoration: underline;
        font-weight:700;
    }
}
.suscribirte-educones{
    float: left;
    width: 100%;
    background: #6ABF4A;
    padding: 20px;
    margin: 54px 0;
    .logo-educon{
        float: right;
        margin-top: 19px;
        margin-left: 20px;
        @media (max-width: 767px){
            float: left;
            width: 100%;
            text-align: center;
        }
        img{
            width: 200px;
        }
    }
    .formulario{
        float: right;
        width: 500px;
        @media (max-width: 991px){
            float: left;
            width: 400px;
        }
        @media (max-width: 767px){
            float: left;
            width: 100%;
            text-align: center;
        }
        .title{
            float: left;
            width: 100%;
            font-size: 37px;
            font-family: BebasNeue;
            color: white;
            margin: 20px 0;
            line-height: normal;
        }
        .formulario{
            float: left;
            width: 100%;
            input{
                height: 25px;
                float: left;
                width: 170px;
                background: #F6F6F6;
                padding: 5px 15px;
                border: 1px solid #A8A9AD;
                border-radius: 5px 0 0 5px;
                @media (max-width: 767px){
                    float: none;
                }
            }
            ._form_397{
                & > div{
                    text-align: left !important;
                    form{
                        float: left;
                        margin: 0 !important;
                        padding: 0 !important;
                        label{
                            color: white !important;
                        }
                        ._button-wrapper{
                            margin-left: 0 !important;
                            button{
                                border-radius: 0 5px 5px 0px !important;
                            }
                        }
                    }
                }
                ._form-thank-you{
                    color: white !important;
                }
            }
        }
    }
}
.pagination{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        float: left;
        margin-right: 10px;
        a{
            color: black;
        }
        &.active{
            a{
                color: $green;
            }
        }
    }
}
/*Educon*/

/*Estilos para que las carreras sean del mismo alto*/
.flex-row{
    display: flex;
    flex-wrap: wrap;
    .et_pb_column{
        .et_pb_module{
            height: 100%;
        }
    }
}

/*Botón de descarga*/
.boton-descarga{
    padding: 10px 25px !important;
    text-align: center;
    font-family: Solido-Book;
    font-size: 19px !important;
    color: white;
    font-weight: 700 !important;   
}

/*Carrera Facultad*/
.item-carrera-facultad{
    position: relative;
    h3 {
        background: #be1e2d;
        color: #fff;
        display: inline-block;
        padding: 10px;
        font-size: 14px !important;
        width: 100%;
        font-family: Solido-Book;
        font-weight: 700;
        line-height: normal;
        position: absolute;
    }
    img{
        width: 100%;
    }
}

/*home page*/
.te-apoya-home {
    h2{
        float: left;
        width: 100%;
        padding: 10px 20px;
        background: #93c021;
        color: #fff;
        font-size: 24px;
        text-align: center;
    }
    .content{
        float: left;
        background: #dadada;
        color: #000;
        padding: 25px 20px;
        text-align: center;
        height: 248px;
        position: relative;
        width: 100%;
        font-size: 16px;
        p{
            font-size: 16px;
        }
        a{
            color: #fff;
            font-size: 15px;
            padding: 10px 25px;
            margin: 0 auto;
            display: inline-block;
            background: #8cc63e;
            font-weight: 700;
        }
    }
}
.visitanos-home{
    position: relative;
    h2{
        float: left;
        font-family: BebasNeue;
        font-size: 45px;
        line-height: normal;
        color: white;
        padding-left: 25px;
        padding-top: 10px;
        width: 300px;
        margin-bottom: 10px;
    }
    p{
        font-family: Solido-Book;
        font-size: 16px;
        line-height: normal;
        padding-left: 25px;
        color: white;
        width: 250px;
        text-shadow: 2px 2px 2px #b2b2b2;
        clear: both;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        padding-bottom: 51px;
        padding-top: 73px;
        li{
            float: left;
            margin-left: 25px;
            a{
                color: white;
                font-size: 24px;
                br{
                    display: none;
                }
            }
        }
    }
    h3{
        a{
            position: absolute;
            bottom: 10%;
            right: 2%;
            background: #8cc63e;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            padding: 5px 25px 10px;
        }
    }
}

.proxima-prueba-home{
    h2{
        float: left;
        width: 100%;
        padding: 5px 0 8px;
        background: #e47d42;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }
    h3{
        background: #DADADA;
        width: 42% !important;
        padding: 10px;
        display: inline-block;
    }
    h4{
        overflow: hidden;
        color: #fff;
        padding: 5px;
        width: 56%;
        display: inline-block;
        background: rgba(0,0,0,0.5);
        margin-top: 86px;
        font-size: 18px;
        em{
            font-size: 26px;
            font-style: normal;
        }
    }
}

.pasos-home{
    h2{
        margin-bottom: 25px;
        img{
            margin-right: 10px;
            float: left;
        }
    }
    p{
        width: 100%;
        font-family: Solido-Book;
        font-size: 16px;
        line-height: normal;
        display: inline-block;
        margin-top: 20px;
    }
}
.home-button{
    width: 157px;
}

.section-title-verde-home{
    h2{
        background: #8cc63e;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 53px;
        position: relative;
        margin-bottom: 30px;
        &:after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 25px solid #8cc63e;
            position: absolute;
            bottom: -23px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}

//Noticias home
.noticias-home{
    float: left;
    width: 100%;
    ul{
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        cursor: pointer;
        background: #f8f8f8;
        float: left;
        // width: calc(33.33% - 20px);
        width: calc(33.33% - 13.33px);
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        @media (max-width: 991px) {
          width: calc(50% - 10px);
        }
        @media (max-width: 767px) {
          width: 100%;
        }
        &:hover{
            .cats{
                opacity: 1;
            }
        }
        .cats{
            height: 100%;
            margin-right: 10px;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            padding: 10px;
            font-size: 12px;
            opacity: 0;
            width: 100%;
            background: rgba(0,0,0,0.5);
            transition: all 0.5s;
            color: white;
            font-family: BebasNeue;
            a{
                border-bottom: 1px solid #ddd;
                color: white;
                font-size: 14px;
                margin: 0 2px;
                font-family: Solido-Book;
            }
        }
        // &:hover{
        //   .title{
        //     opacity: 1;
        //   }
        //   .img{
        //     img{
        //       -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        //       filter: grayscale(0%);
        //       -webkit-transform: scale(1.3);
        //         transform: scale(1.3);
        //     }
        //   }
        // }
        .img{
          float: left;
          width: 100%;
          img{
            float: left;
            width: 100%;
            // height: 200px;
            // -webkit-transform: scale(1);
            // transform: scale(1);
            // -webkit-transition: .3s ease-in-out;
            // transition: .3s ease-in-out;
            // @media (min-width: 768px) {
            //   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            //   filter: grayscale(100%);
            // }
          }
        }
        .title{
          float: left;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          padding: 10px;
          color: white;
          font-family: Solido-Bold;
        //   background-color: rgba(0,0,0,0.5);
          background-color: $green;
          font-size: 17px;
          line-height: normal;
          transition: all 0.5s;
          z-index: 2;
        //   @media (min-width: 768px) {
        //     opacity: 0;
        //   }
            &.cat50{
                background-color: $cuae;
            }
            &.cat12{
                background-color: $humanidades;
            }
            &.cat13{
                background-color: $sociales;
            }
            &.cat16{
                background-color: $global;
            }
            &.cat15{
                background-color: $design;
            }
            &.cat34{
                background-color: $educacion;
            }
            &.cat11{
                background-color: $ingenieria;
            }
        }
      }
    }
  }
  #cboxLoadedContent .news-block{
    display: block;
  }
  .news-block{
    float: left;
    width: 100%;
    max-width: 650px;
    display: none;
    .title{
      float: left;
      width: 100%;
      font-size: 28px;
      line-height: normal;
      padding: 10px;
      font-family: Solido-Bold;
      box-sizing: border-box;
    }
    .img{
      float: left;
      width: 100%;
      margin-bottom: 10px;
      img{
        float: left;
        width: 100%;
      }
    }
    .text{
      float: left;
      width: 100%;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: normal;
      padding: 0 20px 10px;
      box-sizing: border-box;
      text-align: justify;
      max-height: 300px;
      overflow: auto;
    }
    .more{
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 25px;
      a{
        background-color: #078b45;
        color: white;
        text-decoration: none;
        padding: 10px 25px;
        text-align: center;
        font-size: 18px;
        svg{
          margin-right: 5px;
        }
      }
    }
  } 

//Botón Alineado a la izquierda
.btn-left-aligned{
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

// Columna de descargas
.columna-descargas{
    padding: 20px 0 100px;
    img{
        width: calc(100% - 40px);
        margin: 0 20px;
    }
    h3{
        background: #36a9e1;
        color: #fff;
        padding: 15px;
        margin: 100px 0 0 0;
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
    }
    a{
        border: solid 1px #fff;
        color: #fff;
        display: block;
        padding: 10px 25px;
        text-align: center;
        width: 60%;
        margin: 20px auto 0;
    }
}
// Columna de descargas


// Icono de pasos admision
.icono-paso{
    float: left;
    width: 100%;
    h3{
        float: left;
        width: 80%;
    }
    p{
        float: left;
        width: 80%;
        line-height: normal;
        &:nth-child(1){
            width: 17%;
            margin-right: 2%;
        }
        img{
            width: 100%;
        }
    }
}
// Icono de pasos admision

//Pensum carreras
.pensum-carrera{
    float: left;
    width: 100%;
    h3{
        text-align: center;
        color: white;
        float: left;
        width: 100%;
        font-size:21px;
        padding: 20px 0;
    }
    ul{
        float: left;
        background: #DADADA;
        width: 100%;
        margin:0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            width: calc(100% - 20px);
            margin: 0 10px;
            border-bottom: 1px solid white;
            padding: 10px 5px;
            a{
                float: right;
                margin-left: 10px;
                color: black;
            }
        }
    }
}

//Calendario
.uvg-calendar{
    thead{
        tr:nth-child(1){
            background-color: #787878;
            th:nth-child(2){
                h3{
                    color: white;
                }
            }
            th:nth-child(1),
            th:nth-child(3){
                background: #515151;
                button{
                    color: white;
                    &:disabled{
                        color: #515151 !important;
                    }
                }
            }

        }
        tr:nth-child(2){
            th{
                background-color: #333333;
                color: white;
            }
        }
    }
    tr{
        td{
           &.simcal-today{
               span.simcal-day-label{
                   background-color: $green !important;
               }
           } 
        }
    }
}

//Eventos y avisos home
.eventos-avisos-home{
    width: 100%;
    border-bottom: 55px solid $green;
    float: left;
    position: relative;
    .tabs{
        float: left;
        background: #3B3A3C; 
        color: white;
        padding: 47px 34px;
        width: 160px;
        @media (max-width: 575px){
            width: 100%;
            text-align: center;
        }
        .proximos-title{
            width: 100%;
            font-size: 33px;
            font-family: BebasNeue;
            line-height: 23px;
            @media (max-width:575px){
                font-size: 45px;
                line-height: 35px;
            }
            .small{
                font-size: 21px;
                @media (max-width:575px){
                    font-size: 33px;
                }
            }
        }
        .eventos,
        .avisos{
            float: left;
            color: #fff;
            background: #000;
            padding: 0 5px 2px;
            margin-right: 5px;
            cursor: pointer;
            transition: all .5s;
            line-height: normal;
            font-size: 13px;
            font-family: BebasNeue;
            margin-top: 10px;
            line-height: 19px;
            clear: both;
            width: 90px;
            text-align: center;
            @media (max-width:575px){
                width: 100px;
                float: none;
                display: inline-block;
                margin-right: 0;
            }
            &:hover,
            &.active{
                background: $green;
                border-color: transparent;
            }
        }
    }
    .contents{
        width: calc(100% - 230px);
        float: left;
        position: absolute;
        top: 50%;
        left: 190px;
        transform: translateY(-50%);
        @media (max-width: 575px){
            position: relative;
            top: auto;
            transform: translateY(0);
            left: auto;
            padding: 30px;
            width: 100%;
        }
        .eventos,
        .avisos{
            width: 100%;
            float: left;
            display: none;
            &.active{
                display: block;
            }
            .slick-slide{
                & > div,
                div.date{
                    height: 100%;
                }
            }
            ul{
                float: left;
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    float: left;
                    margin-right: 10px;
                    width: calc(25% - 10px);
                    height: 100%;
                    position: relative;
                    .date{
                        float: left;
                        width: 100px;
                        padding: 10px;
                        text-align: center;
                        background: green;
                        color: white;
                        margin-right: 10px;
                        width: 108px;
                        height: 108px;
                        &.n1{
                            background: #f1b13b;
                        }
                        &.n2{
                            background: #651c31;
                        }
                        &.n3{
                            background: #5c7e94;
                        }
                        .ini{
                            float: left;
                            width: 100%;
                            font-family:Solido-Bold;
                            .big{
                                float: left;
                                width: 100%;
                                font-size: 40px;
                                font-family: Solido-Bold;
                                line-height: normal;
                            }
                            .small{
                                float: left; 
                                width:100%;
                            }
                        }
                        .fin{
                            float: left;
                            width: 100%;
                            font-family:Solido-Bold;
                            margin-top: 25px;
                        }
                    }
                    .info{
                        float: right;
                        width: calc(100% - 118px);
                        padding-right: 10px;
                        padding-bottom: 25px;
                        .title{
                            float: left;
                            width: 100%;
                            font-family: BebasNeue;
                            font-size: 19px;
                            line-height: normal;
                        }
                        .ubicacion{
                            float: left;
                            width: 100%;
                            font-family: Solido-Bold;
                            color: #3B3A3C;
                            font-size: 16px;
                            line-height: 14px;
                            margin: 5px 0 0;
                        }
                        .hora{
                            float: left;
                            width: 100%;
                            font-size: 14px;
                            line-height: normal;
                            margin: 5px 0 0;
                        }
                        .enlace{
                            float: left;
                            width: 100%;
                            color: #3B3A3C;
                            font-size: 14px;
                            line-height: normal;
                            margin-bottom: 10px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .listados{
                            background: #3B3A3C;
                            float: left;
                            color: white;
                            font-size: 14px;
                            height: 23px;
                            position: absolute;
                            bottom: 0;
                            left: 120px;
                            span{
                                padding: 0 10px;
                                height: 23px;
                                float: left;
                                line-height: 23px;
                                &.mas{
                                    padding: 2px 8px 0 8px;
                                    border-left: 5px solid white;
                                    font-size: 25px;
                                    text-align: center;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        // .avisos{
        //     float: left;
        //     width: 100%;
        //     display: none;
        //     &.active{
        //         display: block;
        //     }
        //     ul{
        //         float: left;
        //         width: 100%;
        //         margin: 0;
        //         padding: 0;
        //         list-style: none;
        //         li{
        //             float: left;
        //             margin-right: 10px;
        //             width: calc(25% - 10px);
        //             height: 150px;
        //             .title{
        //                 float: left;
        //                 width: 100%;
        //                 font-family: BebasNeue;
        //                 font-size: 22px;
        //             }
        //             a{
        //                 float: left;
        //                 margin-right: 15px;
        //                 padding: 5px 10px;
        //                 background: #1b75bb;
        //                 color: white;
        //                 transition: all 0.5s;
        //                 &:hover{
        //                     background: darken(#1b75bb,10%);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

//Slick home page
.slick-prev {
    left: -23px;
    z-index: 1;
    &:before{
        // font-size: 30px;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    }
}
.slick-next {
    right: -23px;
    &:before{
        // font-size: 30px;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    }
}

#colorbox, 
#cboxOverlay, 
#cboxWrapper{
    z-index: 9999999; 
}

@media (max-width: 980px){
    .et_fixed_nav #main-header, .et_fixed_nav #top-header, .et_non_fixed_nav.et_transparent_nav #main-header, .et_non_fixed_nav.et_transparent_nav #top-header {
        position: fixed !important;
    }
}

.breadcrumb{
    background: #e1e1e1;
    margin-bottom: 0 !important;
    padding: 5px 0 5px 30px;
}

//Hamburgers de los submenus
.hamburguer-full,
.hamburguer-secondary {
    float: left;
    color: white;
    padding: 10px 15px;
    display: none !important;
    @media (max-width:999px){
        display: block !important;
    }
    &:after{
        content: "Submenú";
        color: #3b3a3c;
        font-family: BebasNeue;
        font-size: 16px;
        margin-left: 12px;
    }
}
.hamburguer-full{
    &:after{
        color: white;
    }
}

.admisiones-home-botones{
    @media (max-width:575px){
        a{
            float: left;
            width: 100%;
            margin: 0 0 10px !important;
        }
    }
}

.banner--anuncios--uvg{
    .nivoSlider{
        &.mobile{
            display: none;
            @media (max-width: 767px){
                display: block;
            }
        }
        &.desktop{
            display: block;
            @media (max-width: 767px){
                display: none !important;
            }
        }
    }
}

.chatbot{
    display: none !important;
}